# Copied from https://github.com/McDic/Highliner/blob/master/.gitignore

# Unnecessary map files
shooting_lines/*
!shooting_lines/datapacks
!shooting_lines_resourcepack*/*
!shooting_lines/icon.png

# Server files
libraries/
logs/
versions/
banned-ips.json
banned-players.json
eula.txt
minecraft_server.*.jar
ops.json
server.properties
usercache.json
whitelist.json

# Profiles
debug/

# Archives
archives/

# Python caches
*.pyc
**/__pycache__/

# Generated data files
shooting_lines/datapacks/shooting_lines/**/generated/*.mcfunction
